.App {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      /*Distance between elements*/
      row-gap: 20px;
}

/*Use by default with Navlink in menu by css class .active*/
/*.active {
      color: blue;
      text-decoration: none;
}*/

.activeLink {
      color: blue;
      text-decoration: none;
}

a {
      color: lightblue;
      font-size: 5vh;
      text-decoration: none;
}

nav {
      background-color: beige;
      padding: 5px;
      border-radius: 5px;
}

nav a {
      margin: 1vh;
      color: #373435;
}

